/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px !important

.sidebar > .sidebar-links > li:not(:first-child) {
  margin-top: 0 !important;
}

.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 1em !important;
  line-height: 1.7 !important;
  font-weight: bold !important;
}

.sidebar-heading {
  color: #2c3e50 !important;
  transition: color 0.15s ease !important;
  cursor: pointer !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  padding: 0.35rem 1.5rem 0.35rem 1.25rem !important;
  width: 100% !important;
  box-sizing: border-box !important;
  margin: 0 !important;
  border-left: 0.25rem solid transparent !important;
}
