/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
 *{
   font-family: 'Nunito Sans', sans-serif;
 }

.home .hero img
  max-width 450px !important
  font-family: 'Nunito Sans', sans-serif;

// .sidebar > .sidebar-links > li:not(:first-child) {
//   margin-top: 0 !important;
// }



// .sidebar > .sidebar-links > li > a.sidebar-link {
//   font-size: 1em !important;
//   line-height: 1.7 !important;
//   font-weight: bold !important;
//   font-family: 'Nunito Sans', sans-serif;
// }

.sidebar-group{
  margin-bottom :0!important;
  font-weight:bold;
  span{
   color: black !important;
 font-size: 1.1em;
 font-weight: bold !important;
  }

}



.sidebar-heading.clickable.active {  
border-left-color:#f5f7f9!important;
}

// .sidebar-heading {
//   color: black !important;
//   font-size: 1.1em;
//   transition: color 0.15s ease !important;
//   cursor: pointer !important;
//   font-weight: bold !important;
//   padding: 0.35rem 1.5rem 0.35rem 1.25rem !important;
//   width: 100% !important;
//   box-sizing: border-box !important;
//   margin: 0 !important;
//   border-left: 0.25rem solid transparent !important;
//   font-family: 'Nunito Sans', sans-serif;
// }
.sidebar-heading:hover{
  background-color: #e6ecf1;
}

<style lang="stylus">
*{
  //   font-family: 'Nunito Sans', sans-serif;
}

 